
body {
    background-image: url(https://images3.alphacoders.com/512/51299.jpg);
}
h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(208, 208, 235);
    text-shadow: 4px 4px 4px rgba(26, 224, 75, 0.9);
    font-weight: bold ;
    font-size: 45px;
}
.btn_button {
    position: fixed;
    top: 100px;
}

.card_container {
    border: solid 1px rgb(72, 163, 185);
    margin: 10px;
    margin-right: 20vw;
    margin-left: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 15px;
    color: aliceblue;
}

.card_container:hover{
    border: solid 3px rgb(25, 184, 59);
    box-shadow: 4px 4px 4px rgba(212, 85, 85, 0.9);
}

.card_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-shadow: 6px 6px 4px rgba(10, 245, 61, 0.4);
}

.card_list {
    list-style: none;
}

.list {
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card_btn {
    margin: 3px;
}


